[project]
	description = Android Studio plug-in for generating ButterKnife injections from selected layout XML.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/miter
[access "refs/for/refs/*"]
	read = group user/miter
	push = group user/miter
	label-Code-Review = -2..+2 group user/miter
	label-Verified = -1..+1 group user/miter
	rebase = group user/miter
	removeReviewer = group user/miter
	submit = group user/miter
[access "refs/heads/*"]
	read = group user/miter
	create = group user/miter
	push = +force group user/miter
	pushMerge = group user/miter
[access "refs/tags/*"]
	push = +force group user/miter
	pushTag = group user/miter
	pushSignedTag = group user/miter
